<div class="row">
  <div class="offset-md-4 col-md-4" style="text-align: center">
    <h1>Work - {{title}}</h1>
  </div>
</div>

<div id="top-menu" class="row">
  <div class="offset-1 col-10 offset-md-2 col-md-2">
    <button class="btn btn-top-nav" type="button" routerLink="/about" style="width:100%;" [ngClass]="{ 'active' : title === 'About' }">
      About
    </button>
  </div>
  <div class="offset-1 col-10 offset-md-0 col-md-2">
    <div class="dropdown">
      <button type="button" class="btn btn-top-nav dropdown-toggle-split" style="width:calc(100% - 38px);" routerLink="/projects" [ngClass]="{ 'active' : title === 'Projects' }">
        Projects
      </button>
      <button type="button" class="btn btn-top-nav dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  [ngClass]="{ 'active' : title === 'Projects' }">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="projectsMenuDropdown">
        <button class="dropdown-item" type="button" routerLink="/projects/software">Software</button>
        <button class="dropdown-item" type="button" routerLink="/projects/hardware">Hardware</button>
        <button class="dropdown-item" type="button" routerLink="/projects/visual">Visual</button>
      </div>
    </div>
  </div>
  <div class="offset-1 col-10 offset-md-0 col-md-2">
    <button class="btn btn-top-nav" type="button" routerLink="/music" style="width:100%;" [ngClass]="{ 'active' : title === 'Music' }">
      Music
    </button>
  </div>
  <div class="offset-1 col-10 offset-md-0 col-md-2">
    <button class="btn btn-top-nav" type="button" routerLink="/contact" style="width:100%;" [ngClass]="{ 'active' : title === 'Contact' }">
      Contact
    </button>
  </div>
</div>