.btn-top-nav {
    background-color: #FFC02C;
}

.btn-top-nav:hover {
    background-color: #DB9E10;
}

.btn-top-nav.active {
    background-color: #DB9E10;
}

.dropdown-toggle-split {
    border-radius: 0.25rem 0 0 0.25rem;
}

.dropdown-toggle-split.dropdown-toggle {
    border-radius: 0 0.25rem 0.25rem 0;
}