/* You can add global styles to this file, and also import other style files */
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.inline {
    display: inline;
}